WG_INTERFACE=wg-mikrotik
WG_MTU=1412
WG_KEEPALIVE=25

WG_CLIENT_IP=172.16.101.2
WG_CLIENT_CIDR=24

WG_CLIENT_PRIVATE_KEY=4Bo9niQEQ5T9+LbPEVhdAmkgyUiaPzRxg40w+T0Mwmk=

WG_SERVER_PUBLIC_KEY=4dx0PaOflCICcjW4UyNed+KCbu2Ldnd0xqw43gFlal0=
WG_SERVER_ENDPOINT=38.47.93.132
WG_SERVER_PORT=51825

WG_ALLOWED_IPS=172.16.101.0/24

WG_NAT_SOURCE_CIDR=172.16.101.0/24
WG_ENABLE_FORWARD_RULES=1
WG_ENABLE_NAT=1
WG_AUTO_DETECT_LAN_IFACE=1
WG_MAX_LOCAL_NETS=20

LOCAL_NET_1=172.16.1.0/24
LOCAL_NET_2=172.16.2.0/24
LOCAL_NET_3=172.16.3.0/24
LOCAL_NET_4=172.16.4.0/24
LOCAL_NET_5=172.16.5.0/24

# Ini boleh tetap diisi.
# Kalau nama interface berubah, script tetap bisa auto-detect dari route LOCAL_NET.
LAN_IFACE_1=eth0
LAN_IFACE_2=ens19
LAN_IFACE_3=ens20
LAN_IFACE_4=ens21
LAN_IFACE_5=ens22
